@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sinarmas Agri</h1>
    <p class="lead">Welcome to Sys Employee Core.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

